{% set pageData = craft.entries.section('contact').one() %}
{% extends '_base' %}

{% block body %}


{% include 'components/_nav-bar' %}

    <section class="contact-intro">
    
        <div class="image-container">
            <img src="{{pageData.contactImage.one().getUrl('t1920x1440')}}" alt="{{pageData.contactImage.one().title}}">
        </div>

        <div class="content-container">
            <div class="inner">
            <div class="logo-container">
                <img src="/assets/img/asphaltex-logo-dark.svg" alt="Asphaltex Logo">
            </div>
            <address>
                {{pageData.adres}}
            </address>
            <div class="phone-container">
            <a href="tel:{{pageData.telefoonnummer}}">{{pageData.telefoonnummer}}</a>
            </div>

            <div class="mail-container">
            <a href="mailto:{{pageData.email}}">{{pageData.email}}</a>
            </div>
            </div>
                    {% include 'components/_icons-container' %}
        </div>
    
    </section>

    <section class="form-map">
    
        <div class="form-container" id="contact-form">

            <div class="form-wrap">
            
                <div class="text-container">
                    {{pageData.formTekst}}
                </div>

                <form method="post">
                        {{ csrfInput() }}
                            <input type="hidden" name="action" value="contact-form/send">
                        {{ redirectInput('/contact?msg=sent#contact-form') }}
                    <div class="input-container">
                        <input type="text" name="fromName" placeholder="Naam en voornaam" required>
                    </div>

                    <div class="input-container">
                        <input type="text" placeholder="Telefoon N&deg;" required name="message[Telefoonnummer]">
                    </div>

                    <div class="input-container">
                        <input type="email" name="fromEmail" placeholder="Email" required>
                    </div>

                    <div class="input-container">
                        <textarea name="message[Bericht]" id="" cols="30" rows="10" placeholder="Uw vraag of bericht"></textarea>
                    </div>

                    <div class="bottom">
                        <div class="input-container check">
                            <input type="checkbox" name="privacy" id="privacy" required>
                            <label for="privacy">Ik heb het <a href="/privacy">privacybeleid</a> gelezen en ga hiermee akkoord.</label>
                        </div>

                        <div class="input-container btn-positioner">
                            <input type="submit" value="VERZEND">
                        </div>

                    </div>
                    {{ craft.contactFormExtensions.recaptcha|raw }}

                </form>

            </div>

        </div>

        <div class="map-container">
            <div id="map"></div>
        </div>

    </section>

{% endblock %}