{% set pageData = craft.entries.section('diensten').one() %}
{% set projecten = craft.entries.section('realisatie').limit(3).all() %}
{% extends '_base' %}

{% block body %}

{% set absolute = true %}
{% include 'components/_nav-bar' %}

<section class="diensten-intro">

    <div class="first-section">
    
        <div class="content-container">
            <div class="content-wrap">
            <div class="desc-container">
                {{pageData.dienstenOmschrijving}}
            </div>

            <div class="bottom-container">
            
                <div class="title-container">
                    {{pageData.dienstenIntroTitel}}
                </div>

                <div class="text-container">
                    {{pageData.dienstenIntroTekst}}
                </div>

            </div>
            </div>
        
        </div>

        <div class="image-container">
            {% include 'components/_icons-container' %}
            <img src="{{pageData.dienstenIntroAfbeelding.one().getUrl('t1860x1920')}}" alt="{{pageData.dienstenIntroAfbeelding.one().title}}"  class="desktop">
            <img src="{{pageData.dienstenIntroAfbeelding.one().getUrl('t1080x1920')}}" alt="{{pageData.dienstenIntroAfbeelding.one().title}}"  class="mobile">
        </div>

    </div>

    <div class="second-section">
        
        <div class="image-container">
            <img src="{{pageData.dienstenIntroAfbeelding2.one().getUrl('t1920x1280')}}" alt="{{pageData.dienstenIntroAfbeelding2.one().title}}" class="desktop">
            <img src="{{pageData.dienstenIntroAfbeelding2.one().getUrl('t1080x1920')}}" alt="{{pageData.dienstenIntroAfbeelding2.one().title}}" class="mobile">
        </div>
        <div class="content-container">
            <div class="text-container">
                {{pageData.dienstenIntroTekst2}}
            </div>
        </div>
    
    </div>

</section>

<section class="diensten-slider">

    <div class="swiper-container diensten-swiper-container">
    <!-- Additional required wrapper -->
        <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for slide in pageData.dienstenSlider.all() %}
            <div class="swiper-slide" data-title="{{slide.titel}}">
                <div class="text-container">
                    <h1>{{slide.titel}}</h1>
                    {{slide.tekst}}
                </div>

                <div class="image-container">
                    <img src="{{slide.afbeelding.one().getUrl('t1920x1620')}}" alt="{{slide.afbeelding.one().title}}">
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    {# <div class="swiper-scrollbar"></div> #}
</div>

</section>

<section class="diensten-accordeon accordeon">
    <div class="tabs">
        {% for slide in pageData.dienstenSlider.all() %}
        <div class="tab">
            <input type="checkbox" id="rd{{loop.index}}" name="rd">
            <label class="tab-label" for="rd{{loop.index}}"><span class="nr">{{loop.index}}</span> {{slide.titel}}</label>
            <div class="tab-content">
                <div class="text-container">{{slide.tekst}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="diensten-sectie-3">

    <div class="image-container">
        <img src="{{pageData.dienstenSectie3Afbeelding.one().getUrl('t1600x1920')}}"  alt="{{pageData.dienstenSectie3Afbeelding.one().title}}" class="desktop" />
        <img src="{{pageData.dienstenSectie3Afbeelding.one().getUrl('t1080x1920')}}"  alt="{{pageData.dienstenSectie3Afbeelding.one().title}}" class="mobile" />
    </div>

    <div class="content-container">
        <div class="text-container">
            {{pageData.dienstenSectie3Tekst}}
        </div>
    </div>

</section>

<section class="diensten-sectie-4">

        <div class="content-container">

        <div class="text-container padding-top-40 padding-bottom-40">
            {{pageData.dienstenSectie4Tekst}}
        </div>

        {% include 'components/_icons-container' %}

    </div>

    <div class="image-container">
        <img src="{{pageData.dienstenSectie4Afbeelding.one().getUrl('t1730x1920')}}" alt="{{pageData.dienstenSectie4Afbeelding.one().title}}" class="desktop"/>
        <img src="{{pageData.dienstenSectie4Afbeelding.one().getUrl('t1080x1920')}}" alt="{{pageData.dienstenSectie4Afbeelding.one().title}}" class="mobile"/>
    </div>

</section>

{% include 'components/_projects-in-de-kijker' %}


{% endblock %}