{% extends '_base' %}
{% set pageData = craft.entries.section('home').one() %}
{% set projecten = craft.entries.section('realisatie').limit(3).all() %}

{% block body %}
{% set absolute = true %}
{% set style = 'white' %}
{% include 'components/_nav-bar' %}

<section class="home-intro">

    <div class="image-container">
        <img src="{{ pageData.introImage.one().getUrl('homeIntroImage') }}" alt="" class="desktop">
        <img src="{{ pageData.introImage.one().getUrl('t1080x1920') }}" alt="" class="mobile">
    </div>

    <div class="content-container">
        <div class="title-container">
            <h1>{{ pageData.introTitel }}</h1>
        </div>

        <div class="text-container">
            {{ pageData.introTekst }}
        </div>

        <div class="btn-container">
            {% set url = pageData.introButton.getUrl %}
            {% set text = pageData.introButton.getCustomText %}
            {% set style = 'dark' %}
            {% include 'components/_btn' %}
        </div>
    </div>

{% include 'components/_icons-container' %}


</section>

<section class="home-diensten">

    <div class="dienst-intro">

        <div class="wrapper">

            <div class="title-container">
                {{pageData.dienstenIntro}}
            </div>

            <div class="icon-container">
                <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon X">
            </div>

        </div>

    </div>

    <div class="diensten-container">
        {% set i = 0 %}
        {% for dienst in pageData.diensten.all() %}
        {% if i % 2 == 0 %}
        <article class="dienst">
            <div class="content-container">
                <div class="wrap">
                    <div class="pretitle-container">
                        <p>Diensten</p>
                    </div>
                    <div class="title-container">
                        {{dienst.titel}}
                    </div>
                    <div class="text-container">
                        {{dienst.tekst}}
                    </div>
                    <div class="link-container">
                        {% set url = dienst.leesMeerLink.getUrl %}
                        {% set text = dienst.leesMeerLink.getCustomText %}
                        {% include 'components/_btn' %}
                    </div>
                </div>
                <div class="icon-container">
                    {% if dienst.icon %}
                    <img src="/assets/img/asphaltex-icon-lines.svg" alt="Asphaltex - Icon lines">
                    {% endif %}
                </div>
            </div>
            <div class="image-container">
                <img src="{{dienst.dienstImage.one().url}}" alt="{{dienst.titel}}" class="desktop">
                <img src="{{dienst.dienstImage.one().getUrl('t1080x1920')}}" alt="{{dienst.titel}}" class="mobile">
            </div>
        </article>
        {% else %}
        <article class="dienst dienst-uneven dienst-{{dienst.style}}">
            <div class="image-container">
                <img src="{{dienst.dienstImage.one().url}}" alt="{{dienst.titel}}" class="desktop">
                <img src="{{dienst.dienstImage.one().getUrl('t1080x1920')}}" alt="{{dienst.titel}}" class="mobile">
            </div>
            <div class="content-container">
                <div class="icon-container">
                    {% if dienst.icon %}
                    {% if dienst.style == 'dark' %}
                    <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon lines">
                    {% else %}
                    <img src="/assets/img/asphaltex-icon-lines.svg" alt="Asphaltex - Icon lines">
                    {% endif %}
                    {% endif %}
                </div>
                <div class="wrap">
                    <div class="pretitle-container">
                        <p>Diensten</p>
                    </div>
                    <div class="title-container">
                        {{dienst.titel}}
                    </div>
                    <div class="text-container">
                        {{dienst.tekst}}
                    </div>
                    <div class="link-container">
                        {% set url = dienst.leesMeerLink.getUrl %}
                        {% set text = dienst.leesMeerLink.getCustomText %}
                        {% if dienst.style == 'dark' %}
                        {% set style = 'white' %}
                        {% endif %}
                        {% include 'components/_btn' %}
                    </div>
                </div>
            </div>
        </article>
        {% endif %}

        {% set i = i + 1 %}
        {% endfor %}


    </div>

</section>

{% set images = pageData.homeSliderImages.all() %}
{% include 'components/_cta-realisaties' %}

{% set hideTitle = true %}
{% include 'components/_projects-in-de-kijker' %}

{% include 'components/_werken-bij-asphaltex.twig' %}

{% endblock %}