{% set pageData = craft.entries.section('overOns').one() %}
{% set images = craft.entries.section('home').one().homeSliderImages.all() %}
{% extends '_base' %}

{% block body %}

{% set absolute = false %}
{% include 'components/_nav-bar' %}

<section class="over-intro">

    <div class="wrapper">
        <div class="content-container">
        <div class="title-container">
            <h1>Over ons</h1>
        </div>

        <div class="text-container">
            {{ pageData.overIntro }}
        </div>
    </div>

    <div class="image-container">
        {% include 'components/_icons-container' %}
        <img src="{{pageData.overIntroImage.one().getUrl('t1920x1333')}}" alt="" class="horizontal">
        <img src="{{pageData.overIntroImage.one().getUrl('t1080x1920')}}" alt="" class="vertical">
    </div>
    </div>

    <div class="wrapper">
        <div class="big-text">
            {{ pageData.bigText }}
        </div>
    </div>

</section>

<section class="over-sectie-2">

    <div class="content-container">
        <div class="text-container">
            {{pageData.sectie2Tekst}}
        </div>
    </div>
    <div class="image-container">
            {% include 'components/_icons-container' %}
        <img src="{{pageData.sectie2Image.one().getUrl('t1920x1760')}}" alt="" class="horizontal">
        <img src="{{pageData.sectie2Image.one().getUrl('t1080x1920')}}" alt="" class="vertical">
    </div>

</section>

<section class="over-sectie-3">

    <div class="image-container">
        <img src="{{pageData.sectie3Afbeelding.one().getUrl('t1920x1240')}}" alt="" class="horizontal">
        <img src="{{pageData.sectie3Afbeelding.one().getUrl('t1080x1920')}}" alt="" class="vertical">
    </div>

    <div class="content-container">
        <div class="text-container">
            {{pageData.sectie3Tekst}}
        </div>

        <div class="btn-container">
                {% set url = pageData.sectie3Link.getUrl() %}
                {% set text =  pageData.sectie3Link.getCustomText() %}
                {% set style = 'dark' %}
                {% include 'components/_btn' %}
        </div>
    </div>

</section>

<section class="over-certificaten">
    <div class="content-container">
        <div class="certificaten-container">
                <div class="title-container">
            <h1>Certificaten</h1>
        </div>
            <ul>
                {% for cert in pageData.certificaten.all()  %}
                    <li><span>{{cert.certificaat}}</span></li>
                {% endfor %}
            </ul>
        </div>
                <div class="icons-container">
        <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon X">
        <img src="/assets/img/asphaltex-icon-lines.svg" alt="Asphaltex - Icon Lines">
        <img src="/assets/img/asphaltex-icon-square.svg" alt="Asphaltex - Icon Square">
    </div>
    </div>

    <div class="image-container">
        <img src="{{pageData.certificatenAfbeelding.one().getUrl('t1920x1240')}}" alt="{{pageData.certificatenAfbeelding.one().title}}" class="horizontal">
        <img src="{{pageData.certificatenAfbeelding.one().getUrl('t1080x1920')}}" alt="{{pageData.certificatenAfbeelding.one().title}}" class="vertical">
    </div>
</section>

{% include 'components/_cta-realisaties' %}

{% endblock %}