{% extends '_base' %}
{% set realisaties = craft.entries.section('realisatie').all() %}
{% set tags = craft.tags.relatedTo(realisaties).group('diensten')%}

{% block body %}

{% include 'components/_nav-bar' %}

<div class="wrapper">

    <section class="realisaties-filter">
        <div class="title-container">
            <h1>Filter</h1>
        </div>
        <div class="tag-container">
            {% for tag in tags %}
                <div class="tag" id="{{tag|kebab}}">
                    <p>{{ tag }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="realisaties-grid">
            <div class="grid-sizer"></div>
        {% for realisatie in realisaties %}
        <article class="realisatie {% for tag in realisatie.projectDiensten %}{{tag|kebab}} {% endfor %}">
            <div class="image-container">
                <a href="{{realisatie.url}}">
                    <img src="{{realisatie.thumbnail.one().getUrl('projectThumbnail')}}" alt="{{realisatie.thumbnail.one().title}}">
                </a>
            </div>

            <div class="text-container">
                <h2>Asphaltex - {{realisatie.title}}</h2>
            </div>

            <div class="btn-container">
                {% set url = realisatie.url %}
                {% set text = 'Bekijk meer' %}
                {% set style = 'dark' %}
                {% include 'components/_btn' %}
            </div>

        </article>
        {% endfor %}

    </section>
</div>


{% include 'components/_werken-bij-asphaltex'%}
{% endblock %}