@media only screen and (min-width: 1400px) {
    .werken-bij-asphaltex {



        .image-container {
            vertical-align: middle;
        }

        .right-container {
            vertical-align: middle;
            .content-container {
                transform: translateY(-50%);
            }

            .icons-container {
                position: absolute;
                top: 12rem;
                right: 7%;
                img {
                    transform: translateX(-100%);
                }
            }
        }
    }
}

@media only screen and (min-width: 2000px) {
    .werken-bij-asphaltex {

        .image-container {
            vertical-align: middle;
        }

        .right-container {
            vertical-align: middle;
            .content-container {
                transform: translateY(-10%);
            }

            .icons-container {
                right: 8%;
            }
        }
    }
}

@media only screen and (min-width: 2100px) {
    .werken-bij-asphaltex {

        .image-container {
            vertical-align: middle;
        }

        .right-container {
            vertical-align: middle;
            .content-container {
                transform: none;
            }
        }
    }
}

@media only screen and (max-width: 2000px) {
    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {
                width: 74%;
                margin-left: 26%;

                .icon-container {
                    width: 12rem;
                }

                .text-container {
                    font-size: 6rem;
                }

                .btn-container {
                    margin-left: calc(12rem + 8%);
                }
            }
        }

        .slider-container {
            margin-top: -22rem;
        }
    }
}

@media only screen and(max-width: 1900px) {

    .body-text {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .main-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .werken-bij-asphaltex {
        .dark-container {
            .info-container {
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }
    }

    .margin-bottom-5 {
        margin-bottom: 2.5rem;
    }

    .home-intro {
        .content-container {
            .title-container {
                margin-bottom: 3.5rem;
            }
        }

        .btn-container {
            margin-top: 4rem;
        }
    }

    .nav-bar {
        .nav-container {

            a,
            a:link,
            a:visited {
                margin-left: 5rem;
            }
        }
    }


}

@media only screen and (max-width: 1700px) {
    .body-text {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .main-title {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .werken-bij-asphaltex {
        .dark-container {
            .info-container {
                font-size: 2rem;
                line-height: 2.8rem;
            }
        }
    }

    .textpage-content {
        width: 80%;
    }
}

@media only screen and (max-width: 1500px) {
    .home-intro {

        .image-container {
            width: 45%;
        }

        .content-container {
            width: 50%;

            .title-container {
                width: 65%;
            }

            .text-container {
                width: 65%;
            }

            .btn-container {
                width: 65%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .nav-bar {
        z-index: 11;

        .nav-container {
            display: none;
        }

        .mobile-burger {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            text-align: right;

            .burger-container {
                display: inline-block;
            }
        }
    }

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {
                margin-left: 20%;
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {

    footer {
        .icons-container {
            width: 15%;
        }
    } 

    .realisatie-intro {
        .content-container {
            width: 35%;
        }

        .slider-container {
            width: 51%;

            .swiper-button-prev {
                padding: 1rem 1.9rem 1rem 1.9rem;
                img {
                    width: 50%;
                }
            }
        
            .swiper-button-next{
                left: 6.4rem;
                padding: 1rem 1.9rem 1rem 1.9rem;
            }
        }
    }

    .over-sectie-2 {
        .image-container {
            .vertical {
                display: block;
            }

            .horizontal {
                display: none;
            }
        }
    }

    .over-sectie-3 {
        .image-container {
            .vertical {
                display: block;
            }

            .horizontal {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1300px) {

    .home-intro {
        .image-container {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }
    }

    .home-diensten {
        .diensten-container {
            .dienst {
                .image-container {
                    width: 50%;

                    .desktop {
                        display: none;
                    }

                    .mobile {
                        display: block;
                    }
                }

                .content-container {
                    width: 50%;

                    .wrap {
                        margin: 0 auto;
                        display: block;
                        width: 50%;
                    }
                }

                .icon-container {
                    display: none;
                }


            }

            .dienst-uneven {
                .content-container {
                    .wrap {
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {
                .text-container {
                    font-size: 4rem;

                }

                .icon-container {
                    width: 9rem;
                }

                .btn-container {
                    margin-left: calc(9rem + 8%);
                }
            }
        }
    }

    .cta-realisaties {
        .slider-container {
            margin-top: -17.7rem;
        }
    }

    .werken-bij-asphaltex {

        .image-container {
            vertical-align: bottom;
        }

        .right-container {
            vertical-align: bottom;
        }

        .dark-container {
            position: relative;
            width: 94%;
            padding-left: 6%;
            margin-top: 5rem;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }

    .over-certificaten {
        .image-container {
            .vertical {
                display: block;
            }

            .horizontal {
                display: none;
            }
        }
    }

    .realisaties-filter {
        .tag {
            padding: 1.2rem 2.5rem;
            margin-right: 1.5rem;
        }

        .title-container {
            margin-right: 3rem;
        }
    }

    .realisatie-intro {
        .tag-container {
            .tag {
                padding: 1.2rem 2.5rem;
                margin-right: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }

    .diensten-intro {
        .first-section {
            .image-container {
                .desktop {
                    display: none;
                }

                .mobile {
                    display: block;
                }
            }
        }

        .second-section {
            .image-container {
                .desktop {
                    display: none;
                }

                .mobile {
                    display: block;
                }
            }
        }
    }

    .diensten-sectie-3 {
        
        .image-container {
    
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }
    }


.diensten-sectie-4 {
    .image-container {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }
}

    .contact-intro {
        .inner {
            margin-right: 5%;
        }

        .content-container {
            .logo-container {
                img {
                    width: 95%;
                }
            }
        }
    }

    .form-container {
        .form-wrap {
            width: 70%;
            margin: 0 auto;
        }
    }


}

@media only screen and (max-width: 1200px) {
    .werken-bij-asphaltex {
        .right-container { 
            .content-container {
                width: 65%;
                .title-container {
                    width: 100%;
                }
            }
                .icons-container {
                    margin-left: 17.5%;
                }
        }
    }

    .over-intro {

        .content-container {
            width: 50%;
        }

        .title-container,
        .text-container {
            padding-left: 0;
        }

        .image-container {
            width: 50%;
            .horizontal {
                display: none;
            }

            .vertical {
                display: block;
            }
        }
    }

    .diensten-slider {
        .text-container {
            display: block;
            width: 100%;
            background: #ffffff;
            padding: 5rem 7.7%;
            width: 85%;
        }

        .image-container {
            display: block;
            width: 100%;
        }

        .swiper-slide {
            width: 50%;
            margin-left: 50%;
        }
        .swiper-container {
            width: 100%;
            height: 62.5vw;;
        }

        .swiper-container-vertical>.swiper-pagination-bullets {
            top: 2rem;
            transform: none;
        }

        .swiper-pagination {
            margin-left: 20%;
            
        }

       .swiper-button-prev {
           left: 50%;
           top: auto;
            bottom: 0;
       }

       .swiper-button-next {
        left: calc(50% + 8.4rem);
        top: auto;
        bottom: 0;
    }
    }
}


@media only screen and (max-width: 1100px) {

    .nav-bar-absolute {
        position: relative;

        .logo-container-white {
            img {
                filter: brightness(0) saturate(100%);
            }
        }
    }

    .nav-bar {
        .logo-container {
            img {
                max-width: 80%;
            }
        }
    }

    // .nav-spacer {
    //     height: 19.5rem;
    // }

    .home-diensten {
        .diensten-container {
            .dienst {
                .icon-container {
                    width: 2.5rem;
                }
            }

            .dienst-dark {
                .icon-container {
                    transform: translateX(-1.25rem);
                }
            }
        }
    }

    .werken-bij-asphaltex {
        padding-top: 5rem;
        .right-container { 
            width: 100%;
            display: block;
            margin-top: 5rem;
            .content-container {
                width: 65%;
                .title-container {
                    width: 100%;
                }
            }
                .icons-container {
                    margin-left: 17.5%;
                }
        }

        .dark-container {
            width: 100%;
            padding-left: 0;
            .inner {
                width: 90%;
                margin: 0 auto;
            }
            .text-container {
                width: 100%;
            }
        }

        .image-container {
            width: 100%;
            display: block;
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }
    }

    .diensten-intro {
        .first-section {
            .content-container {
                .desc-container {
                    margin-top: 0;
                }
            }
        }
    }

    footer {
        .icons-container {
            width: 10%;
        }
    } 

    .over-intro {
        .big-text {
            width: 60%;
        }
    }

    .realisaties-grid {
    
        .realisatie {
            width: 45%;
            margin: 0 2%;
        }
    }

    .realisaties-filter {
        .tag-container {
            display: block;
            margin-left: .5%;
            white-space: normal;
        }

        .tag {
            margin-bottom: 1.5rem;
        }

        .title-container {
            display: block;
            margin-left: .5%;
            margin-bottom: 3rem;
        }
    }

    .realisatie-intro {
        display: flex;
        flex-direction: column;
        .tag-container {
            width: 100%;
            margin-left: 0;
            order: 1;
            white-space: normal;
        }

        .content-container {
            width: 100%;
            display: block;
            margin-left: 0;
            order: 3;
        }

        .slider-container {
            width: 100%;
            display: block;
            margin-left: 0;
            order: 2;
            margin-bottom: 5rem;
        }
    }

    .project-grid-realisatie {

        .project {
            width: 48%;
            margin: 0 1%;
        }

        .terug {
            display: block;
            width: 100%;
            margin-top: 5rem;
        }
    }

    .form-container {
        .bottom {
            .check {
                width: 100%;
                display: block;
            }

            .btn-positioner {
                text-align: center;
                width: 100%;

                input[type=submit] {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .algemene-gegevens {
        .wrapper {
            width: 85%;
            margin: 0 auto;
        }
    }


}

@media only screen and (max-width: 1050px) {

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {
                width: 90%;
                margin-left: 10%;
            }
        }
    }

    .cta-realisaties {
        .slider-container {
            margin-top: -17.7rem;
        }
    }

    .sub-footer {

        .links {
            width: 50%;
        }

        .maister-icon-container {
            width: 50%;
        }

        a, 
        a:link,
        a:visited {
            display: block;
        }
    }

    .over-certificaten {
        .certificaten-container {
            width: 67%;
            margin-left: 10%;
        }

        .icons-container {
            margin-left: 10%;
        }
    }

    .diensten-intro {
        .first-section {
            display: flex;
            flex-direction: column-reverse;
            .content-container {
                width: 100%;
                display: block;
                position: relative;
            }

            .content-wrap {
                position: relative;
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                width: 85%;
                display: block;
                margin: 5rem auto;
            }

            .bottom-container {
                position: relative;
                bottom: auto;
                margin-top: 3rem;
            }

            .image-container {
                width: 100%;
                display: block;
                margin-left: 0;

                .mobile {
                    display: none;
                }

                .desktop {
                    display: block;
                }
            }

            .icons-container {
                display: none;
            }
        }

        .second-section {
            .content-container {
                display: block;
                width: 85%;
                margin: 5rem auto;

                .text-container {
                    width: 100%;
                    margin: 0;
                }
            }
            
            .image-container {
                display: block;
                width: 100%;
                .mobile {
                    display: none;
                }

                .desktop {
                    display: block;
                }
            }
        }
    }

    .diensten-sectie-3 {

        .content-container {
            width: 85%;
            margin: 5rem auto;
            display: block;

            .text-container {
                width: 100%;
                margin: 0;
            }
        }

        .image-container {
            width: 100%;
            display: block;
            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }
        }

    }

    .diensten-sectie-4 {
        display: flex;
        flex-direction: column-reverse;
        .content-container {
            width: 100%;
            display: block;

            .icons-container {
                display: none;
            }

            .text-container {
                margin: 5rem 7.5%;
                width: 85%;
            }
        }

        .image-container {
            width: 100%;
            display: block;
            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }
        }
    }

    .diensten-slider {
        .swiper-slide {
            width: 70%;
            margin-left: 30%;
        }
        
        .swiper-pagination {
            margin-left: 0;
        }

        .swiper-button-prev {
            left: 30%;
        }

        .swiper-button-next {
            left: calc(30% + 8.4rem);
        }
    }

}

@media only screen and (max-width: 950px) {


    .nav-bar {
        padding: 3rem 0;
    }

    .home-intro {

        white-space: normal;

        .image-container {
            width: 100%;
            display: block;

            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }
        }

        .content-container {
            width: 90%;
            display: inline-block;
            padding: 5rem 0;

            .title-container,
            .text-container,
            .btn-container {
                width: 85%;
            }
        }

    }

    .home-diensten {
        .dienst-intro {
            .title-container {
                width: 60%;
            }

            .icon-container {
                width: 5%;
            }
        }

    }

    .cta-realisaties {
        padding-top: 10rem;

        .slider-container {
            margin-top: 10rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    
    .over-sectie-2 {
        .image-container {
            .icons-container {

                width: 4.5rem;
                position: absolute;
                top: 50%;
                transform: translate(-2.1rem, -50%);

                img {
                    margin-bottom: .75rem;
                }
            }
        }

        .content-container {
            .text-container {
                width: 60%;
                margin-left: 13%;
            }
        }
    }

    .over-intro {
        .big-text {
            width: 70%;
        }
    }

    .diensten-slider {
        display: none;
    }

    .diensten-accordeon {
        display: block;
    }


}

@media only screen and (max-width: 850px) {

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {
                margin: 0 auto;
                text-align: center;

                .wrap {
                    display: inline-block;
                    text-align: left;
                }

                .icon-container {
                    display: block;
                    width: 3rem;
                    margin-bottom: 5rem;
                }

                .text-container {
                    font-size: 4rem;
                    width: auto;
                    display: block;
                    margin-left: 0;
                }

                .btn-container {
                    display: block;
                    margin-left: 0;
                }
            }
        }
    }

    .projects-in-de-kijker {
        padding-top: 5rem;

        .title-container {
            margin-bottom: 5rem;
        }
        .project {
            display: block;
            width: 100%;
            margin-bottom: 5rem;
            margin-left: 0;
            margin-right: 0;
        }
    }

    footer {
        white-space: normal;
        .icons-container {
            width: 49%;
        }

        .info-container {
            width: 50%;
        }

        .sitemap-container {
            margin-left: 0;
            width: 49%;
            margin-top: 5rem;
        }

        .socials {
            margin-top: 5rem;
            width: 50%;
        }
    }

    .over-sectie-2 {
        display: flex;
        flex-direction: column;
        .content-container {
            width: 100%;
            display: block;
            order: 2;
            .text-container {
                padding: 5rem 0 2.5rem 0;
                margin: 0 auto;
                width: 85%;
            }
        }

        .image-container {
            width: 100%;
            display: block;
            order: 1;

            .vertical {
                display: none;
            }

            .horizontal {
                display: block;
            }

            .icons-container {
                display: none;
            }
        }
    }

    .over-certificaten {
        display: flex;
        flex-direction: column;
        margin-top: 0;

        .content-container {
            display: block;
            width: 100%;
            order: 2;
            margin-top: 5rem;
        }

        .certificaten-container {
            margin-left: 5%;
            width: 72%;
        }

        .image-container {
            display: block;
            width: 100%;
            order: 1;

            .vertical {
                display: none;
            }

            .horizontal {
                display: block;
            }
        }
    }

    .algemene-gegevens {
        .gegeven {
            width: 49%;

            .add-bull {
                &:before {
                    margin-right: 2rem;
                }
            }

            .inner {
                width: calc(90% - 3rem);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .contact-intro {
        .image-container {
            width: 100%;
            display: block;
        }
        .content-container {
            width: 100%;
            display: block;
            margin: 5rem 0;
        }
    }

    .form-map {
        .form-container {
            width: 100%;
            display: block;
        }

        .map-container {
            width: 100%;
            display: block;
            position: relative;
            height: 40rem;
            left: 0;
        }
    }

    .mobile-nav-menu {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {

    .over-intro {
        margin-top: 0;
        .wrapper {
            display: flex;
            flex-direction: column;
            white-space: normal;
        }
        
        .content-container {
            width: 100%;
            order: 2;
            margin-top: 5rem;

            .title-container,
            .text-container {
                width: 100%;
                padding-right: 0;
            }
        }

        .image-container {
            width: 100%;
            order: 1;

            .vertical {
                display: none;
            }

            .horizontal {
                display: block;
                width: 100vw;
                transform: translateX(-7.5%);
            }

            .icons-container {
                display: none;
            }
        }

    }

    .over-sectie-3 {
        .content-container {
            width: 100%;
            display: block;
            margin: 5rem 0;

            .text-container {
                width: 85%;
                margin: 0 auto;
            }

            .btn-container {
                margin-left: 7.5%;
            }
        }

        .image-container {
            width: 100%;
            display: block;

            .vertical {
                display: none;
            }

            .horizontal {
                display: block;
            }
        }
    }

    .over-intro .big-text {
        width: 80%;
    }

}

@media only screen and (max-width: 700px) {

    .home-diensten {
        .diensten-container {
            .dienst {
                display: flex;
                flex-direction: column;

                .image-container {
                    display: block;
                    width: 100%;
                    order: 1;

                    .mobile {
                        display: none;
                    }

                    .desktop {
                        display: block;
                    }
                }

                .content-container {
                    display: block;
                    width: 100%;
                    order: 2;
                    padding: 5rem 0;

                    .wrap {
                        width: 87%;
                    }
                }

            }
        }
    }

    .home-diensten {
        .dienst-intro {
            .title-container {
                width: 80%;
            }
        }

        .diensten-container {
            .dienst-uneven {
                margin-bottom: 0;
                .content-container {
                    margin-top: 5rem;
                    padding-top: 0;
                }
            }
        }
    }

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {

                .text-container {
                    font-size: 3rem;
                }
            }
        }
    }

    footer {
        .sub-footer {
            .maister-icon-container {
                margin-top: 5rem;
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    
    }

    .projects-in-de-kijker {
        .terug {
            .btn-container  {
                height: auto;
                padding: 5rem 0;
            }

            .btn-aligner {
                position: relative;
                transform: none;
                left: 0;
            }
        }
    }

    .realisatie-intro {
        .slider-container {
            .swiper-button-prev {
                padding: 0 .8rem 0 .9rem;
                &:after {
                    transform: scale(.5);
                }
            }

            .swiper-button-next {
                padding: 0 .8rem 0 .9rem;
                left: 4.4rem;
                &:after {
                    transform: scale(.5);
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    .realisaties-grid {
    
        .realisatie {
            width: 100%;
            margin: 0;
        }
    }

    footer {
        white-space: normal;
        .icons-container {
            width: 39%;
        }

        .info-container {
            width: 60%;
        }

        .sitemap-container {
            margin-left: 0;
            width: 39%;
            margin-top: 5rem;
        }

        .socials {
            margin-top: 5rem;
            width: 60%;
        }
    }

    .mobile-nav-menu {
        width: 60%;
    }

}

@media only screen and (max-width: 500px) {

    .wrapper {
        width: 90%;
    }

    .algemene-gegevens {
        .wrapper {
            width: 90%;
        }
    }

    .home-intro {

        .content-container {
            width: 90%;
            margin: 0 auto;
            display: block;

            .title-container,
            .text-container,
            .btn-container {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }

        .icons-container {
            display: none;
        }
    }

    .home-diensten {
        .dienst-intro {
            .title-container {
                width: 100%;
            }
        }
    }

    .cta-realisaties {
        .cta-realisaties-intro {
            .content-container {

                .text-container {
                    font-size: 2rem;
                }
            }
        }

        .slider-container {
            .owl-nav {
                button {

                    img {
                        width: 50%;
                    }
                }

                .owl-prev {
                    padding: 2rem 2.2rem 2rem 1.7rem !important;
                }

                .owl-next {
                    margin-left: calc(100% - 114.5px);
                    padding: 2rem 1.7rem 2rem 2.2rem !important;
                }
            }
        }
    }

    .werken-bij-asphaltex {

        .right-container {

            .content-container {
                width: 90%;
                margin: 0 auto;
                display: block;
            }

            .icons-container {
                display: none;
            }
        }
    }

    footer {
        white-space: normal;
        .icons-container {
            display: none;
        }

        .info-container {
            width: 100%;
            display: block;
            .text-container {
                margin-bottom: 5rem;
            }
        }

        .sitemap-container {
            .title-container {
                margin-bottom: 2rem;
            }
            width: 100%;
            display: block;
            margin-top: 5rem;
        }

        .socials {
            .title-container {
                margin-bottom: 2rem;
            }
            width: 100%;
            margin-top: 5rem;
            display: block;
        }
    }

    .over-intro {
        .image-container {
            .horizontal {
                transform: translate(-5%);
            }
        }
    }

    .over-sectie-2 {
        .content-container {
            .text-container {
                width: 90%;
            }
        }
    }

    .over-sectie-3 {
        .content-container {
            
            .text-container,
            .title-container {
                width: 90%;
            }

            .btn-container {
                margin-left: 5%;
            }
        }
    }

    .over-certificaten {
        .icons-container {
            display: none;
        }

        .certificaten-container {
            width: 90%;
            margin: 0 5%;
        }
    }

    .over-intro {
        .big-text {
            margin: 5rem auto;
        }
    }

    .algemene-gegevens {
        padding: 5rem 0;
        .gegeven {
            width: 100%;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .projects-in-de-kijker {
        .terug {
            .btn-container  {
                background: transparent;
            }
        }
    }

    .form-container {
        .form-wrap {
            width: 90%;
        }
    }

    .mobile-nav-menu {
        width: 100%;
        text-align: center;

        nav {
            margin-top: 0;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a,
        a:link,
        a:visited {
            margin-left: 0;
        }
    }

    .textpage-content {
        width: 90%;
    }

    .diensten-intro {
        .first-section {
            .content-wrap {
                width: 90%;
            }
        }
    }

    .diensten-intro {
        .second-section {
            .content-container {
                width: 90%;
            }
        }
    }

    .diensten-sectie-3 {
        .content-container {
            width: 90%;
        }
    }

    .diensten-sectie-4 {
        .content-container {
            .text-container {
                width: 90%;
                margin: 5rem 5%;
            }
        }
    }

    .diensten-accordeon {
        width: 90%;
    }
}