.freightsans {
    font-family: freight-sans-pro, sans-serif;
}

.book {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.main-title {
    @extend .freightsans;
    @extend .bold;
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.005em;
}

.body-text {
    @extend .freightsans;
    @extend .book;
    font-size: 2rem;
    line-height: 3.2rem;
}