@import url("https://use.typekit.net/ofb0ucs.css");

@import '_reset';
@import '_grid';
@import '_vars.scss';
@import 'text-styles';

body,
html {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @extend .freightsans;
}

ul {
    list-style: square;
    padding-left: 4rem;
    margin: 2rem 0;

    li {
        margin-bottom: .5rem;

        &:before {
            content: '';
            // display: inline-block;
            width: 1rem;
        }
    }
}

// paddings 

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.hidden {
    display: none;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.button-link {
    position: relative;
    display: inline-block;
    // height: 5.1rem;

    a,
    a:link,
    a:visited {
        @extend .medium;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $dark-gray;
        background: transparent;
        text-decoration: none;
        vertical-align: middle;
        padding: 1.6rem 2.3rem 1.6rem 3rem;
        border: .1rem solid $dark-gray;
        display: inline-block;
        position: relative;
        transition: color 250ms ease-out;
        z-index: 3;
        display: block;

        &:after {
            content: url('/assets/img/btn-arrow.svg');
            display: inline-block;
            margin-left: 3rem;
            vertical-align: middle;
            transition: filter 250ms ease-out;
        }
    }

    &:hover {

        .background {
            transform: scaleX(1);
        }

        a {
            color: white;

            &:after {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(101%);
            }
        }

    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        background: $dark-gray;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 250ms ease-out;
    }

}

.button-link-white {

    a,
    a:link,
    a:visited {
        color: #ffffff;
        border-color: #ffffff;
        background-color: transparent;
        z-index: 2;

        &:after {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(101%);
        }
    }

    .background {
        background: #ffffff;
    }

    &:hover {

        a,
        a:link,
        a:visited {
            color: $dark-gray;

            &:after {
                filter: none;
            }
        }
    }
}

.button-link-dark-full {

    display: inline-block;
    background: $dark-gray;
    z-index: 1;

    .background {
        background: #ffffff;
    }

    a,
    a:link,
    a:visited {
        color: white;
        z-index: 2;

        &:after {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(101%);
        }

        &:before {
            background: #ffffff;
        }
    }

    &:hover {

        a,
        a:link,
        a:visited {
            color: $dark-gray;


            &:after {
                filter: none;
            }
        }
    }

}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.mobile-nav-menu {
    display: none;
}

.nav-bar {
    padding: 7rem 0;
    white-space: nowrap;
    position: relative;
    z-index: 11;

    .mobile-burger {
        display: none;
    }

    .burger-container {
        position: relative;
        width: 3rem;
        height: 1.8rem;

        span {
            width: 3rem;
            height: .2rem;
            background: black;
            display: block;
            position: absolute;
            transition: 250ms ease-out;
        }

        .line-1 {
            top: 0;
            left: 0;
        }

        .line-2,
        .line-3 {
            top: .8rem;
            left: 0;
        }

        .line-4 {
            top: 1.6rem;
            left: 0;
        }
    }

    .burger-container--open {
        position: fixed;
        right: 7.5%;
        margin-top: 19px;
        .line-1 {
            top: .8rem;
            left: 50%;
            width: 0;
        }

        .line-2 {
            top: .8rem;
            left: 0;
            transform: rotate(-45deg);
        }

        .line-3 {
            top: .8rem;
            left: 0;
            transform: rotate(45deg);
        }

        .line-4 {
            top: .8rem;
            left: 50%;
            width: 0;
        }

        span {
            background: white;
        }
    }

    .logo-container {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        width: 50%;
    }

    .nav-container {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        width: 50%;
        text-align: right;

        a,
        a:link,
        a:visited {
            @extend .bold;
            font-size: 1.6rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $dark-gray;
            margin-left: 10rem;
        }

        a:hover,
        a:active {
            text-decoration: underline;
        }

        a.active {
            text-decoration: underline;
        }
    }
}

.nav-bar-absolute {
    position: absolute;
    width: 100%;
    z-index: 5;
}


.mobile-nav-menu {
    display: block;
    width: 40%;
    height: 100%;
    position: fixed;
    background: #000000;
    right: 0;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: 250ms ease-out;

    nav {
        margin-top: 20rem;
    }

    a,
    a:link,
    a:visited {
        color: #ffffff;
        text-decoration: none;
        @extend .main-title;
        display: block;
        margin-left: 10%;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}

.mobile-nav-menu--open {
    transform: translateX(0);
}

.home-intro {

    white-space: none;

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        img {
            width: 100%;
            vertical-align: middle;
        }

        .mobile {
            display: none;
        }
    }

    .content-container {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        .title-container {
            @extend .main-title;
            width: 55%;
            margin: 0 auto;
            margin-bottom: 7rem;
        }

        .text-container {
            @extend .body-text;
            width: 55%;
            margin: 0 auto;
        }
    }

    .icons-container {
        width: 2.6rem;
        display: inline-block;
        vertical-align: middle;

        img {
            width: 100%;
            margin-bottom: .5rem;
        }
    }

    .btn-container {
        margin-left: 22.5%;
        margin-top: 8rem;
    }

}

.home-diensten {

    .dienst-intro {
        background: $dark-gray;
        color: #ffffff;
        padding: 13rem 0;

        .title-container {
            @extend .main-title;
            text-transform: uppercase;
            text-align: center;
            width: 45%;
            margin: 0 auto;
        }

        .icon-container {
            width: 5.5rem;
            margin: 5rem auto 0;

            img {
                filter: invert(100%) sepia(100%) saturate(12%) hue-rotate(197deg) brightness(105%) contrast(104%);
                width: 100%;
            }
        }
    }

    .diensten-container {
        .dienst {
            white-space: nowrap;

            .content-container {
                display: inline-block;
                vertical-align: middle;
                width: 44.9%;

                .wrap {
                    width: 46%;
                    margin-left: 20%;
                    display: inline-block;
                }
            }

            .pretitle-container {
                @extend .body-text;
                @extend .margin-bottom-5;
                white-space: normal;
            }

            .title-container {
                @extend .main-title;
                text-transform: uppercase;
                @extend .margin-bottom-5;
                white-space: normal;
            }

            .text-container {
                @extend .body-text;
                @extend .margin-bottom-5;
                white-space: normal;
            }

            .image-container {
                display: inline-block;
                vertical-align: middle;
                width: 55%;

                .mobile {
                    display: none;
                }

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            .icon-container {
                width: 5.5rem;
                display: inline-block;
                vertical-align: top;
                margin-left: 13%;

                img {
                    width: 100%;
                }
            }
        }

        .dienst-uneven {
            margin-bottom: 7.5rem;
            .icon-container {
                margin-left: 10%;
            }

            .content-container {
                padding-top: 3.25rem;
                .wrap {
                    margin-left: 5%;
                }
            }
        }

        .dienst-dark {
            color: #ffffff;
            background: $dark-gray;

            .icon-container {
                transform: translateX(-2.6rem);
                margin-left: 0;
                margin-right: 10%;

                img {
                    filter: invert(100%) sepia(100%) saturate(12%) hue-rotate(197deg) brightness(105%) contrast(104%);
                }
            }
        }
    }

}

.cta-realisaties {
    padding-top: 16rem;

    .cta-realisaties-intro {
        position: relative;
        z-index: 2;

        .content-container {
            width: 70%;
            margin-left: 30%;
            white-space: nowrap;
        }

        .text-container {
            text-transform: uppercase;
            font-size: 6.5rem;
            display: inline-block;
            vertical-align: top;
            @extend .bold;
            white-space: normal;
            width: calc(90% - 19.5rem);
            margin-left: 8%;
        }

        .icon-container {
            width: 19.5rem;
            display: inline-block;
            vertical-align: top;
            white-space: normal;

            img {
                width: 100%;
            }
        }

        .btn-container {
            margin-left: calc(19.5rem + 8%);
            margin-top: 5rem;
        }

    }

    .slider-container {
        position: relative;
        margin-top: -19.7rem;
        z-index: 1;
        width: 100%;

        img {
            width: 100%;
            vertical-align: middle;
        }

        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;

            button {
                background: #ffffff;
                padding: 2rem 3rem !important;

                &:focus {
                    outline: none;
                }
            }

            .owl-next {
                margin-left: calc(100% - 156.5px);
            }
        }
    }
}

.projects-in-de-kijker {
    white-space: nowrap;
    padding-top: 12rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 13rem;

    .project {
        white-space: normal;
        width: 30%;
        margin: 0 1.5%;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        img {
            width: 100%;
            @extend .margin-bottom-5;
        }

        h2 {
            font-size: 2rem;
            @extend .bold;
            line-height: 3.5rem;
            @extend .margin-bottom-5;
        }
    }

    .title-container {
        @extend .main-title;
        margin-bottom: 12rem;
        text-transform: uppercase;
        text-align: center;
    }

    .terug {
        .btn-container {
            background: $light-gray;
            height: 18.65vw;
            position: relative;
        }

        .btn-aligner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }

}

.werken-bij-asphaltex {
    white-space: nowrap;
    padding-top: 12rem;
    position: relative;

    .subtitle-container {
        @extend .body-text;
        @extend .margin-bottom-5;
    }

    .title-container {
        @extend .main-title;
        @extend .margin-bottom-5;
    }

    .right-container {
        width: 65%;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        display: relative;

        .content-container {
            width: 46%;
            margin-left: 6%;
            white-space: normal;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
        }

        .icons-container {
            display: inline-block;
            vertical-align: top;
            margin-left: 27.5%;

            img {
                width: 3.3rem;
                display: block;
                margin-bottom: .5rem;
            }
        }
    }

    .image-container {
        width: 35%;
        display: inline-block;
        vertical-align: top;

        .mobile {
            display: none;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .dark-container {
        background: #000000;
        color: #ffffff;
        padding-left: 4%;
        white-space: normal;
        padding-top: 10rem;
        padding-bottom: 10rem;
        position: absolute;
        bottom: 0;
        width: 61%;

        .text-container {
            @extend .main-title;
            width: 30%;
            margin-bottom: 3rem;
        }

        .info-container {
            @extend .bold;
            font-size: 2.2rem;

            a {
                color: inherit;
                word-break: keep-all;
                white-space: nowrap;
            }
        }

    }
}

footer {
    padding-top: 10rem;
    white-space: nowrap;
    border-top: .1rem solid $light-gray;

    .icons-container {
        display: inline-block;
        vertical-align: top;
        width: 20%;

        img {
            width: 3.3rem;
            display: block;
            margin-bottom: .5rem;
        }
    }

    .info-container {
        display: inline-block;
        vertical-align: top;
        @extend .body-text;
        width: 30%;
        white-space: normal;

        .title-container {
            margin-bottom: 4rem;
        }

        .text-container {
            margin-bottom: 7.5rem;
        }

        .contact-info {
            @extend .bold;

            a,
            a:link,
            a:visited {
                text-decoration: none;
                color: $dark-gray;
                display: block;
                line-height: 3rem;
                transition: opacity 250ms ease-out;
            }

            a:hover,
            a:active {
                opacity: .6;
            }
        }
    }

    .sitemap-container {
        @extend .body-text;
        display: inline-block;
        margin-left: 15%;
        width: 26%;
        white-space: normal;

        .title-container {
            @extend .bold;
            margin-bottom: 4rem;
        }

        a,
        a:link,
        a:visited {
            color: inherit;
            text-decoration: none;
            display: block;
            transition: opacity 250ms ease-out;
        }

        a:hover,
        a:active {
            opacity: .5;
        }
    }

    .socials {

        .title-container {
            @extend .body-text;
            @extend .bold;
            margin-bottom: 4rem;
        }

        .middle {
            padding: 0 1.5rem;
            border-left: .2rem solid $light-gray;
            border-right: .2rem solid $light-gray;
            margin: 0 1.5rem;
        }

        a,
        a:link,
        a:visited {
            text-decoration: none;
            transition: opacity 250ms ease-out;
        }

        a:hover,
        a:active {
            opacity: .6;
        }

        display: inline-block;
        vertical-align: top;
    }

    .sub-footer {
        @extend .body-text;
        text-decoration: none;
        background: $light-gray;
        padding: 4rem 0;
        margin-top: 7rem;
        white-space: nowrap;

        .links {
            width: 75%;
            display: inline-block;
            vertical-align: middle;
            white-space: normal;

            a,
            a:link,
            a:visited {
                color: $dark-gray;
                text-decoration: none;
                margin-right: 9rem;
                white-space: normal;
                transition: opacity 250ms ease-in-out;
            }

            a:hover,
            a:active {
                opacity: .6;
            }
        }

        .maister-icon-container {
            width: 25%;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
        }

        .maister-icon {
            display: inline;

            a {
                text-decoration: none;
                color: inherit;
            }

            .icon {
                display: inline;
                vertical-align: middle;
                transition: margin-right 250ms ease-out;
            }

            .text {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.4rem;
                width: 0;
                overflow: hidden;
                transition: width 250ms ease-out;

                p {
                    display: inline;
                }
            }

            &:hover {
                .icon {
                    margin-right: 1rem;
                }

                .text {
                    width: 8.1rem;
                }
            }
        }

        p {
            display: inline;
        }
    }
}

.over-intro {
    white-space: nowrap;
    margin-top: 2rem;

    .content-container {
        width: 37%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }

    .title-container {
        padding-left: 8%;
        padding-right: 16%;
        @extend .margin-bottom-5;
        text-transform: uppercase;
        @extend .main-title;
    }

    .text-container {
        padding-left: 8%;
        padding-right: 16%;
        @extend .body-text;

        p {
            margin-bottom: 4rem;
        }
    }

    .image-container {
        width: 63%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        position: relative;

        img {
            width: 100%;
        }

        .vertical {
            display: none;
        }

        .icons-container {
            width: 2.5rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(1.25rem, -50%);

            img {
                display: block;
                margin-bottom: .5rem;
            }
        }
    }

    .big-text {
        @extend .main-title;
        text-transform: uppercase;
        width: 45%;
        margin: 8rem auto;
        white-space: normal;
        text-align: center;
    }
}

.over-sectie-2 {
    white-space: nowrap;
    background: #000000;

    .content-container {
        color: #ffffff;
        width: 50%;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;

        .text-container {
            @extend .body-text;
            width: 46%;
            margin-left: 20%;

            h1 {
                @extend .main-title;
                text-transform: uppercase;
            }

            p {
                @extend .margin-bottom-5;
            }
        }
    }

    .image-container {
        width: 50%;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        .vertical {
            display: none;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }

        .icons-container {
            width: 8rem;
            position: absolute;
            top: 50%;
            transform: translate(-4.2rem, -50%);

            img {
                margin-bottom: 1.5rem;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(101%) contrast(102%);
            }
        }
    }

}

.over-sectie-3 {
    white-space: nowrap;

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;

        .vertical {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .content-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        .text-container {
            @extend .body-text;
            width: 60%;
            margin-left: 20%;

            p {
                @extend .margin-bottom-5;
            }
        }

        .btn-container {
            margin-left: 20%;
            margin-top: 5rem;
        }
    }
}

.over-certificaten {
    margin-top: 7.5rem;
    white-space: nowrap;

    .title-container {
        @extend .main-title;
        text-transform: uppercase;
        @extend .margin-bottom-5;
    }

    .content-container {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        @extend .body-text;
    }

    .certificaten-container {
        width: 50%;
        margin-left: 20%;
        display: inline-block;
        vertical-align: top;

        strong {
            @extend .bold;
        }

        ul {
            list-style-type: square;

            li {
                margin-left: 2rem;

                span {
                    margin-left: 2.5rem;
                    display: inline-block;
                    vertical-align: top;
                    padding-bottom: 3rem;
                    margin-bottom: 3rem;
                    border-bottom: .1rem solid $light-gray;
                    width: calc(100% - 2.5rem);
                }

                &:last-child {
                    span {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: top;

        .vertical {
            display: none;
        }

        img {
            width: 100%
        }
    }

    .icons-container {
        display: inline-block;
        vertical-align: top;
        width: 2.5rem;
        margin-left: 17%;

        img {
            width: 100%;
            display: block;
            margin-bottom: .5rem;
        }
    }

}

.diensten-intro {

    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    .first-section {
        position: relative;

        .content-container {
            width: 45%;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            position: absolute;
            bottom: 0;
            top: 0;

            .desc-container {
                @extend .main-title;
                margin-top: 21.9rem;
            }

            .title-container {
                @extend .main-title;
                text-transform: uppercase;
                @extend .margin-bottom-5;
            }

            .text-container {
                @extend .body-text;
            }
        }

        .image-container {
            width: 55%;
            display: inline-block;
            vertical-align: top;
            margin-left: 45%;
            position: relative;

            .mobile {
                display: none;
            }

            img {
                width: 100%;
            }

            .icons-container {
                width: 8.8rem;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(-4.4rem, 8rem);
                filter: brightness(0) saturate(100%);

                img {
                    display: block;
                    margin-bottom: 1.7rem;
                }
            }
        }

        .content-wrap {
            width: 60%;
            margin-left: 23%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .bottom-container {
            position: absolute;
            bottom: 10rem;
        }
    }

    .second-section {
        white-space: nowrap;

        .image-container {
            width: 45%;
            display: inline-block;
            vertical-align: middle;

            .mobile {
                display: none;
            }

            img {
                width: 100%;
            }
        }

        .content-container {
            width: 55%;
            display: inline-block;
            vertical-align: middle;
            white-space: normal;

            .text-container {
                @extend .body-text;
                width: 45%;
                margin-left: 17%;
            }
        }

    }

}

.diensten-slider {
    margin-top: 7rem;
    overflow: hidden;

    .swiper-container {
        width: 100%;
        height: 29.5vw;
    }

    .text-container {
        width: 35%;
        margin-right: 15%;
        display: inline-block;
        vertical-align: middle;
        @extend .body-text;
        white-space: normal;

            h1 {
                @extend .main-title;
                display: none;
                margin-bottom: .5rem;
            }
    }

    .swiper-pagination {
        text-align: left;
        left: 7%;
        right: auto;
    }

    .swiper-slide {
        margin-left: 30%;
        width: 70%;
        white-space: nowrap;
    }

    .swiper-pagination-bullet {
        width: auto;
        height: auto;
        background: transparent;
        @extend .main-title;
        @extend .bold;
        vertical-align: middle;
        padding: 2rem 0;
        border-bottom: .1rem solid $light-gray;
        border-radius: 0;

        &:before {
            content: '';
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background: #000000;
            vertical-align: middle;
            margin-right: 3rem;
        }
    }

    .nr {
        padding-right: 5rem;
        display: inline-block;
    }

    .swiper-pagination-bullet-active {
        background: transparent;
    }

    .image-container {
        width: 50%;
        display: inline-block;
        vertical-align: middle;

        img {
            width: 100%;
        }
    }

    .swiper-button-prev {

        background: #000000;
        left: calc(65% + 1px);
        top: 50%;
        -webkit-transform: translate(-100%, -50%);
        -moz-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        -o-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
        padding: 2.2rem 2.85rem 1.8rem;

        &:after {
            content: url(/assets/img/slider-arrow-left-white.svg);
            // transform: rotate(-90deg);
        }
    }

    .swiper-button-next {
        left: calc(65% + 1px);
        padding: 1.8rem 2.85rem 2.2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #ffffff;

        &:after {
            content: url(/assets/img/slider-arrow-right.svg);
            // transform: rotate(-90deg);
            transform: translateY(4px);
        }
    }
}

.diensten-accordeon {
    width: 85%;
    margin: 0 auto;
    display: none;
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      .tab {
          clear: both;
      }
    .tab-label {
        @extend .main-title;
        @extend .bold;
        padding: 2rem 0;
        border-bottom: .1rem solid $light-gray;
        border-radius: 0;
        display: block;

        span {
            padding-right: 2.5rem;
        }

        &:after {
            content: '+';
            float: right;
        }
    }

    .tab-content {
        max-height: 0;
        overflow: hidden;
        transition: all 350ms ease-in-out;
        @extend .body-text;

        .text-container {
            padding: 2rem 0;
        }
    }

    .active {
        .tab-label {
            &:after {
                content: '-';
            }
        }
        .tab-content {
            max-height: 500px;
        }
    }

    
}

.diensten-sectie-3 {
    margin-top: 7.5rem;
    white-space: nowrap;
    overflow: hidden;

    .image-container {
        width: 45%;
        display: inline-block;
        vertical-align: middle;

        .mobile {
            display: none;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .content-container {
        width: 55%;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        .text-container {
            @extend .body-text;
            width: 45%;
            margin-left: 17%;

            h1 {
                @extend .main-title;
                text-transform: uppercase;
                @extend .margin-bottom-5;
            }

            p {
                @extend .margin-bottom-5;
            }
        }
    }
}

.diensten-sectie-4 {
    background: $dark-gray;
    white-space: nowrap;
    overflow: hidden;

    .image-container {
        width: 45%;
        display: inline-block;
        vertical-align: middle;

        .mobile {
            display: none;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .content-container {
        width: 55%;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;

        .text-container {
            width: 52%;
            margin-left: 18%;
            color: #ffffff;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            @extend .body-text;

            h1 {
                @extend .main-title;
                text-transform: uppercase;
                @extend .margin-bottom-5;
            }

            p {
                @extend .margin-bottom-5;
            }
        }

        .icons-container {
            display: inline-block;
            vertical-align: top;
            margin-left: 30%;
            transform: translateX(-4.4rem);

            img {
                width: 8.8rem;
                display: block;
                margin-bottom: 1.7rem;
                filter: invert(95%) sepia(98%) saturate(5%) hue-rotate(66deg) brightness(105%) contrast(100%);
            }
        }
    }

}

.realisaties-grid {
    white-space: nowrap;
    padding-top: 5rem;
    width: 95%;
    margin: 0 auto;

    .realisatie {
        white-space: normal;
        width: 30%;
        margin: 0 1.5%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding-bottom: 5rem;

        img {
            width: 100%;
            @extend .margin-bottom-5;
        }

        h2 {
            font-size: 2rem;
            @extend .bold;
            line-height: 3.5rem;
            @extend .margin-bottom-5;
        }
    }

    .title-container {
        @extend .main-title;
        margin-bottom: 12rem;
        text-transform: uppercase;
        text-align: center;
    }

}

.realisaties-filter {
    white-space: nowrap;
    width: 95%;
    margin: 2rem auto 0;

    .title-container {
        @extend .main-title;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        padding-top: .5rem;
        margin-right: 5rem;
        margin-left: 1.5%;
    }

    .tag-container {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
    }

    .tag {
        font-size: 1.4rem;
        @extend .medium;
        text-transform: uppercase;
        padding: 1.7rem 3rem;
        border: .1rem solid #000000;
        display: inline-block;
        margin-right: 3rem;
        margin-bottom: 1.5rem;
        transition: background 250ms ease-out;
        cursor: pointer;
    }

    .tag-active {
        background: #000000;
        color: #ffffff;

        p {
            &:after {
                content: url(/assets/img/close-cross.svg);
                margin-left: 1.5rem;
            }
        }
    }

}

.realisatie-intro {
    white-space: nowrap;

    .content-container {
        width: 26%;
        margin-left: 6%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }

    .title-container {
        @extend .main-title;
        text-transform: uppercase;
        @extend .margin-bottom-5;
    }

    .text-container {
        @extend .body-text;

        p {
            @extend .margin-bottom-5;
        }

        strong {
            @extend .bold;
        }
    }

    .tag-container {
        margin-left: 6%;
        @extend .margin-bottom-5;
        margin-top: 2rem;

        .tag {
            font-size: 1.4rem;
            @extend .medium;
            text-transform: uppercase;
            padding: 1.7rem 3rem;
            border: .1rem solid #000000;
            display: inline-block;
            margin-right: 3rem;
            transition: background 250ms ease-out;
        }
    }

    .slider-container {
        width: 60%;
        margin-left: 8%;
        display: inline-block;
        vertical-align: top;

        img {
            width: 100%;
            vertical-align: middle;
        }

        .swiper-button-prev {

            background: #000000;
            left: 0;
            bottom: 0;
            top: auto;
            padding: 2rem 3.2rem 2rem 2.5rem;

            &:after {
                content: url(/assets/img/slider-arrow-left-white.svg);
            }
        }

        .swiper-button-next {
            left: 8.4rem;
            bottom: 0;
            top: auto;
            padding: 2rem 3.2rem 2rem 2.5rem;
            background: #ffffff;

            &:after {
                content: url(/assets/img/slider-arrow-right.svg);
            }
        }
    }

    .realisatie-thumbs-container {
        margin-top: 4rem;
    }
}

.algemene-gegevens {
    background: $light-gray;
    padding: 10rem 0 11rem;
    margin-top: 4rem;

    .wrapper {
        width: 86.5%;
        margin-left: 12.5%;
    }

    .title-container {
        @extend .main-title;
        text-transform: uppercase;
        @extend .margin-bottom-5;
    }

    .gegeven {
        @extend .body-text;
        width: 33%;
        display: inline-block;
        margin-bottom: 4rem;

        .add-bull {
            display: inline-block;
            vertical-align: top;
            width: 100%;

            &:before {
                content: url(/assets/img/bull.svg);
                margin-right: 4rem;
            }
        }

        .inner {
            display: inline-block;
            vertical-align: top;
            width: calc(80% - 5rem);
        }

        .title-container {
            @extend .body-text;
            @extend .bold;
            margin-bottom: 0;
            text-transform: initial;
            padding-bottom: 1rem;
            border-bottom: .1rem solid $dark-gray;
        }
    }
}

.contact-intro {
    white-space: nowrap;
    overflow: hidden;

    .image-container {
        width: 55%;
        display: inline-block;
        vertical-align: middle;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .content-container {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;

        .logo-container {
            margin-left: 13%;
            @extend .margin-bottom-5;

            img {
                width: 32rem;
            }
        }

        address,
        .phone-container,
        .mail-container {
            margin-left: calc(13% + 8rem);
            @extend .body-text;
            @extend .bold;

            a,
            a:link,
            a:visited {
                text-decoration: none;
                color: #000000;
                transition: opacity 250ms ease-out;
            }

            a:hover,
            a:active {
                opacity: .6;
            }
        }
    }

    .icons-container {
        display: inline-block;
        vertical-align: top;

        img {
            width: 2.5rem;
            display: block;
            margin-bottom: .5rem;
        }
    }

    .inner {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }

}

.form-map {
    white-space: nowrap;
    position: relative;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.thankyou-message {
    background: #000000;
    color: white;
    padding: 2rem 3rem;
    margin-bottom: 5rem;
    @extend .body-text;
    position: fixed;
    right: 5rem;
    top: 5rem;
    z-index: 999;
    animation: fadeOut 250ms 3s forwards;
}

.form-container {
    width: 55%;
    background: $light-gray;
    padding: 8rem 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    position: relative;


    .form-wrap {
        width: 55%;
        margin-left: 18%;
    }

    .text-container {
        @extend .body-text;
        @extend .margin-bottom-5;
    }

    .input-container {
        margin-bottom: 2rem;

        input,
        textarea {
            background: transparent;
            border: .1rem solid #000000;
            width: 100%;
            padding: 2rem 3rem;
            appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;
            resize: none;
            font-size: 1.4rem;
            @extend .medium;
            @extend .freightsans;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 1.4rem;
                text-transform: uppercase;
                @extend .medium;
                color: #000000;
            }
        }
    }

    .bottom {
        white-space: nowrap;
        width: 100%;

        .input-container {
            display: inline-block;
            vertical-align: middle;

            input[type=checkbox] {
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                padding: 0;
                vertical-align: top;
                margin: 0;

                &:checked {
                    &:after {
                        content: '';
                        display: block;
                        background: black;
                        width: 1rem;
                        height: 1rem;
                        margin: .3rem;
                    }
                }
            }

            input[type=submit] {
                padding: 1rem 7rem;
                display: inline-block;
                width: auto;
                transition: all 250ms ease-out;
            }

            input[type=submit]:hover {
                background: #000000;
                color: #ffffff;
            }
        }

        label {
            font-size: 1.4rem;
            @extend .medium;
            display: inline-block;
            vertical-align: top;
            margin-left: 2rem;
            white-space: normal;
            width: calc(100% - 4rem);
        }

        .check {
            width: 50%;

            a {
                color: inherit;
            }
        }

        .btn-positioner {
            width: 50%;
            text-align: right;
        }
    }
}

.map-container {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    left: 55%;
    top: 0;
    bottom: 0;

    #map {
        height: 100%;
    }
}


.textpage-content {
    width: 60%;
    margin: 5rem auto 10rem;
    @extend .body-text;

    h1 {
        @extend .main-title;
        margin-bottom: 5rem;
    }

    h2 {
        @extend .main-title;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    p {
        margin-bottom: 1rem;
    }

    a,
    a:link,
    a:visited {
        color: inherit;
        transition: opacity 250ms ease-out;
        word-wrap: break-word;
    }

    a:hover,
    a:active {
        opacity: .5;
    }
}


@import 'media-queries'