@mixin background-image-retina($image) {
	background-image: image-url($image);
	@if file_exists(retina_filename($image))
	{
		@media only screen
		{
			@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
			{
				@include background-size(50% auto);
				background-image: image-url(retina_filename($image));
			}
		}
	}
}

@mixin inline-background-image-retina($image) {
	background-image: inline-image($image);

	@if file_exists(retina_filename($image))
	{
		@media only screen
		{
			@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
			{
				@include background-size(50% auto);
				background-image: inline-image(retina_filename($image));
			}
		}
	}
}
