<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set seo = entry.seo %}
    {% hook "seo" %}

    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css"><!-- OWL Carousel -->
    <link rel="stylesheet" href="/assets/css/vendor/owl.theme.default.min.css"><!-- OWL Carousel -->

    {#<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">#}<!-- swiper from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/screen.css">

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

    {#<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60841370-1', 'auto');
      ga('send', 'pageview');

    </script>#}

</head>

<body>

    {% block body %}
    {% endblock %}

    {% include 'components/_footer.twig' %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/assets/js/vendor/owl.carousel.min.js"></script><!-- OWL Carousel -->

    {#<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>#}<!-- swiper from CDN -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    {% if entry == 'realisaties - overzicht' %}
    <script src="/assets/js/isotope-init.js"></script>
    {% endif %}

    {% if entry == 'contact' %}
    <script src="/assets/js/mapbox-init.js"></script>
    <script src="/assets/js/form.js"></script>
    {% endif %}

        {% if entry == 'diensten' %}
    <script src="/assets/js/accordeon.js"></script>
    {% endif %}
    <script src="/assets/js/mobile-menu.js"></script>


    <script src="/assets/js/owl-init.js"></script>
    <script src="/assets/js/swiper-init.js"></script>
</body>

</html>