{% extends '_base' %}

{% set projecten = craft.entries.section('realisatie').limit(2).all() %}

{% block body %}

{% include 'components/_nav-bar' %}
<div class="wrapper">
    <section class="realisatie-intro">

        <div class="tag-container">
            {% for tag in entry.projectDiensten %}
            <div class="tag">
                <p>{{tag}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="content-container">

            <div class="title-container">
                <h1>
                    {% if entry.langeTitel is not empty %}
                    {{ entry.langeTitel }}
                    {% else %}
                    {{ entry.title }}
                    {% endif %}
                </h1>
            </div>

            <div class="text-container">
                {{entry.realisatieTekst}}
            </div>
        </div>

        <div class="slider-container">
            <div class="swiper-container realisatie-swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="{{entry.thumbnail.one().getUrl('t1920x1200')}}" alt="">
                    </div>
                    {% for image in entry.projectImages.all() %}
                    <div class="swiper-slide">
                        <img src="{{image.getUrl('t1920x1200')}}" alt="">
                    </div>
                    {% endfor %}
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

            <div class="swiper-container realisatie-thumbs-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="{{entry.thumbnail.one().getUrl('t1920x1200')}}" alt="">
                    </div>
                    {% for image in entry.projectImages.all() %}
                    <div class="swiper-slide">
                        <img src="{{image.getUrl('t1920x1200')}}" alt="">
                    </div>
                    {% endfor %}
                </div>

            </div>

    </section>
</div>


<section class="algemene-gegevens">
    <div class="wrapper">
        <div class="title-container">
            <h1>algemene gegevens</h1>
        </div>
        <div class="gegevens-container">
            {% for gegeven in entry.realisatieAlgemeneGegevens.all() %}

            <article class="gegeven">
                <div class="add-bull">
                    <div class="inner">
                    <div class="title-container">
                        <h2>{{gegeven.titel}}</h2>
                    </div>
                    <div class="text-container">
                        <p>{{gegeven.tekst}}</p>
                    </div>
                    </div>
                </div>
            </article>

            {% endfor %}
        </div>
    </div>
</section>

<section class="projects-in-de-kijker">
    
    <div class="title-container">
        <h1>Andere projecten</h1>
    </div>
    
    <div class="project-grid project-grid-realisatie">
        {% for project in projecten %}
        <article class="project">
            <div class="image-container">
                <a href="{{project.url}}">
                    <img src="{{project.thumbnail.one().getUrl('projectThumbnail')}}" alt="">
                </a>
            </div>

            <div class="text-container">
                <h2>Asphaltex - {{project.title}}</h2>
            </div>

            <div class="btn-container">
                {% set url = project.url %}
                {% set text = 'Bekijk meer' %}
                {% set style = 'dark' %}
                {% include 'components/_btn' %}
            </div>

        </article>
        {% endfor %}
        <article class="project terug">
            <div class="btn-container">
                <div class="btn-aligner">
                {% set url = '/realisaties' %}
                {% set text = 'Terug naar het overzicht' %}
                {% set style = 'dark' %}
            {% include 'components/_btn' %}
            </div>
            </div>
        </article>
    </div>

</section>


{% endblock body %}