{% set pageData = craft.entries.section('overOns').one() %}
{% set images = craft.entries.section('home').one().homeSliderImages.all() %}
{% extends '_base' %}

{% block body %}

{% set absolute = false %}
{% include 'components/_nav-bar' %}

    <div class="textpage-content">
        {{entry.textPageContent}}
    </div>

{% endblock %}