{% if style is not defined %}
    {% set style = 'dark' %}
{% endif %}


<div class="button-link button-link-{{style}}">
    <a href="{{ url }}">{{ text }}</a>
    <div class="background"></div>
</div>