<section class="cta-realisaties">

    <div class="cta-realisaties-intro">
        <div class="content-container">
            <div class="wrap">
                <div class="icon-container">
                    <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon lines">
                </div>
                <div class="text-container">
                    Bekijk hier enkele van <br />Asphaltex' unieke <br />realisaties
                </div>
                <div class="btn-container">
                    {% set url = '/realisaties' %}
                    {% set text = 'Bekijk al onze realisaties' %}
                    {% set style = 'dark-full' %}
                    {% include 'components/_btn' %}
                </div>
            </div>
        </div>
    </div>

    <div class="slider-container">

        <div class="owl-carousel home-realisaties-slider">
            {% for image in images %}
            <div> <img src="{{image.getUrl('t1920x1010')}}" alt="{{image.title}}"> </div>
            {% endfor %}
        </div>

    </div>

</section>