    <footer>

        <div class="wrapper">
            {% include 'components/_icons-container' %}

            <div class="info-container">
                <div class="title-container">
                    <img src="/assets/img/asphaltex-textual-dark.svg" alt="">
                </div>
                <div class="text-container">
                    <p>Wilt u graag meer informatie over één van onze diensten? Bent u benieuwd naar een offerte op
                        maat? Of heeft u een andere vraag? Neem contact op met Andy Cools van Asphaltex via één van
                        onderstaande kanalen.</p>
                </div>
                <div class="contact-info">
                    <a href="mailto:info@asphaltex.be">info@asphaltex.be</a>
                    <a href="tel:0056351293">T. +32 (0)56351293</a>
                    <p>Toor 5, B-8880 Sint-Eloois-Winkel</p>
                </div>
            </div>

            <div class="sitemap-container">
                <div class="title-container">
                    <p>Sitemap</p>
                </div>
                <a href="/over-ons">Over ons</a>
                <a href="/diensten">Diensten</a>
                <a href="/realisaties">Realisaties</a>
                <a href="/contact">Contact</a>
            </div>

            <div class="socials">
                <div class="title-container">
                    <p>Volg ons</p>
                </div>
                <div class="icons">
                    <a href="https://www.instagram.com/asphaltex_roof_systems/" target="_blank"><img src="/assets/img/ig-icon.svg" alt="Instagram"></a>
                    <a href="https://www.facebook.com/asphaltex/" target="_blank"><img src="/assets/img/fb-icon.svg" alt="Facebook" class="middle"></a>
                    {#<a href="" target="_blank"><img src="/assets/img/li-icon.svg" alt="Linked in"></a>#}
                </div>
            </div>
        </div>

        <div class="sub-footer">
            <div class="wrapper">
                <div class="links">
                    <a href="/privacy">Privacy</a>
                    <a href="/disclaimer">Disclaimer</a>
                    <a href="/cookiebeleid">Cookiebeleid</a>
                    <p>Asphaltex &copy; 2020</p>
                </div>
                <div class="maister-icon-container">
                    <div class="maister-icon">
                        <a
                            href="https://www.maister.be/?utm_source=site-by-maister&utm_medium=referal&utm_campaign=asphaltex">
                            <div class="icon">
                                <img src="/assets/img/maister-icon.svg" alt="site by maister">
                            </div>
                            <div class="text">
                                <p>site by maister</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer>