<div class="icons-container">
        <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon X">
        <img src="/assets/img/asphaltex-icon-lines.svg" alt="Asphaltex - Icon Lines">
        <img src="/assets/img/asphaltex-icon-square.svg" alt="Asphaltex - Icon Square">
    </div>