
{% if style is not defined %}
    {% set style = 'dark' %}
{% endif %}

{% if absolute is not defined %}
    {% set absolute = false %}
{% endif %}

{% if style == 'white' %}
    {% set logoUrl = '/assets/img/asphaltex-logo-white.svg' %}
{% else %}
    {% set logoUrl = '/assets/img/asphaltex-logo-dark.svg' %}
{% endif %}


<div class="nav-bar {% if absolute %} nav-bar-absolute {% endif %}">
    <div class="wrapper">
        <div class="logo-container logo-container-{{style}}">
            <a href="/"><img src="{{logoUrl}}" alt="Asphaltex"></a>
        </div>
        
        <div class="nav-container">
            {% include '/components/_nav' %}
        </div>
        
        <div class="mobile-burger">
            <div class="burger-container">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
            </div>    
        </div>
    </div>

</div>
{% if absolute %}
<div class="nav-spacer"></div>
{% endif %}

{% include 'components/_mobile-nav' %}