<nav>
    <a href="/diensten" {% if entry.title|kebab == 'diensten' %}class="active"{% endif %}>Diensten</a>
    <a href="/over-ons" {% if entry.title|kebab == 'over-ons' %}class="active"{% endif %}>Over ons</a>
    <a href="/realisaties" {% if entry.title|kebab == 'realisaties-overzicht' or  entry.type|kebab == 'realisatie' %}class="active"{% endif %}>Realisaties</a>
    <a href="/contact" {% if entry.title|kebab == 'contact' %}class="active"{% endif %}>Contact</a>
</nav>