{% if hideTitle is not defined %}
    {% set hideTitle = false %}
{% endif %}

<section class="projects-in-de-kijker">
    
    <div class="title-container {% if hideTitle %}hidden{% endif %}">
        <h1>Realisaties in de kijker</h1>
    </div>
    
    <div class="project-grid">
        {% for project in projecten %}
        <article class="project">
            <div class="image-container">
                <a href="{{project.url}}">
                    <img src="{{project.thumbnail.one().getUrl('projectThumbnail')}}" alt="{{project.thumbnail.one().title}}">
                </a>
            </div>

            <div class="text-container">
                <h2>Asphaltex - {{project.title}}</h2>
            </div>

            <div class="btn-container">
                {% set url = project.url %}
                {% set text = 'Bekijk meer' %}
                {% set style = 'dark' %}
                {% include 'components/_btn' %}
            </div>

        </article>
        {% endfor %}
    </div>

</section>
