<section class="werken-bij-asphaltex">

    <div class="image-container">
        <img src="/assets/img/M_Asphaltex-55.jpg" alt="Werken bij Asphaltex" class="desktop">
        <img src="/assets/img/M_Asphaltex-55-mobile.jpg" alt="Werken bij Asphaltex" class="mobile">
    </div><div class="right-container">
        <div class="light-container">
            <div class="content-container">
                <div class="subtitle-container">
                    <h1>Werken bij asphaltex</h1>
                </div>

                <div class="title-container">
                    <p>Zie jij jezelf als een doener? Eentje van ‘de mannen die het gas doet branden’? Asphaltex is op zoek naar leergierige teamleden met drive. Wat je aan kennis of ervaring tekortkomt, brengen we je bij via opleidingen op het werk.</p>
                </div>

                {# <div class="btn-container">
                    {% set url = '/vacatures' %}
                    {% set text = 'Ontdek alle vacatures' %}
                    {% set style = 'dark' %}
                    {% include 'components/_btn' %}
                </div> #}

            </div>

            <div class="icons-container">
                <img src="/assets/img/asphaltex-icon-x.svg" alt="Asphaltex - Icon X">
                <img src="/assets/img/asphaltex-icon-lines.svg" alt="Asphaltex - Icon Lines">
                <img src="/assets/img/asphaltex-icon-square.svg" alt="Asphaltex - Icon Square">
            </div>

        </div>

        <div class="dark-container">

            <div class="inner">
                <div class="text-container">
                    Interesse om te werken bij Asphaltex? Neem spontaan contact met ons op via:
                </div>

                <div class="info-container">
                    <p><a href="mailto:info@asphaltex.be">info@asphaltex.be</a> of op het nummer <a
                            href="tel:00056351293">+32 (0)56 35 12 93</a></p>
                </div>
            </div>

        </div>

    </div>

</section>